* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-width: 850px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
  }
  .logo {
    width: 129.112px;
    height: 104.652px;
    flex-shrink: 0;
    

  }
  .cover {
    width: 1440px;
    height: 763.939px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  .об_аукционе {
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: 21px;
  }
  .об_аукцион {
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: 21px;
  }