* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-width: 850px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
  }
  .logo {
    display: flex;
    width: 129.112px;
    height: 104.652px;
    flex-shrink: 0;
    display: block;
    margin: auto;
  }
  .cover {
    
    opacity: 0.2;
    background-color: rgb(0 0 0/0.5);  
    align-items: stretch;
    
  }
  .об_аукционе {
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 400;
    color: #000;
    
  }
  .об_аукцион {
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 400;
    color: #000
  }
  .наб._принс {
    font-size: 18px;
   font-family: "Raleway";
   font-weight: 400;
   color: #000;
  }
.lot_1, .lot_2, .lot_3 {
    width: 430px;
    height: 450px;
    flex-shrink: 0; 
    background: url(<path-to-image>),
     lightgray 50% ;
}
.header {
  display: flex;
  justify-content: space-between;

}
.info {
  justify-content: end;
}
.main {
  display: flex;
}